{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "redux-bees": "redux-bees"
      }
    ],
    [
      "@babel/plugin-proposal-decorators", {
        "legacy": true
      }
    ]
  ]
}
